.dashboard-container{
    display: flex;
    justify-content: center;
    align-items:center;
}
.dashboard-container .MuiGrid-root.MuiGrid-container{
    justify-content: center;
}

.dashboard-container .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
    box-shadow:none
}
