.datepicker-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.datepicker-container div.button,
.datepicker-container div.calendar div.date{
    height:3em;
    width:3em;
    margin:.1em;
    border:1px solid #1c4884;
    color: #1c4884;
    border-radius: 1em;
    font-weight: 600;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    cursor:pointer;
    cursor:hand;
}
.datepicker-container div.calendar div.date.disabled,
.datepicker-container div.button.disabled{
    cursor:default;
    color: lightgray;
    border-color: lightgray;
}
.datepicker-container div.calendar div.date.disabled:hover,
.datepicker-container div.button.disabled:hover{
    color: lightgray;
    background-color: white;
}
.datepicker-container div.calendar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.datepicker-container div.calendar .month{
    font-weight: 600;
    margin:0;
    margin-bottom:1em;
}
.datepicker-container div.calendar div.dates{
    display: flex;
}
.datepicker-container div.button:hover
,.datepicker-container div.calendar div.date:hover{
    color: #ffffff;
    background-color: #1c4884;
}
.datepicker-container div.calendar div.date.selected{
    color: #ffffff;
    background-color: rgb(36, 151, 246);
}
.datepicker-container div.calendar{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}