.carousel-page-container .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.habit-button-card{
    width: 140px;
    height: 100px;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:space-evenly;
    margin-bottom: 2em;
    margin-left:0.5em;
    margin-right:0.5em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    cursor: pointer;
    cursor: hand;
}

.carousel-page-container .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.habit-button-card:hover{
    box-shadow: rgba(135, 106, 106, 0.35) 0px 5px 10px;
}