.month-calendar{
  padding: 1em;
}

.month-calendar ul, .month-calendar ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

.month-calendar li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  position: relative;
  overflow: hidden;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 5px;
}
.month-calendar li span.fill{
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display:flex;
  justify-content: center;
  align-items: end;
  font-size: 80%;
  border-radius:5px;
  box-shadow:rgb(115 115 115 / 50%) 0px -2px 5px -2px;
}

.month-calendar ul.weekdays {
  margin-bottom: 1em;
}

.month-calendar ul.weekdays li {
  height: 4vw;
}

.month-calendar ol.day-grid li {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  height: 5vw;
  max-height: 90px;
  min-height: 50px;
}

.month-calendar ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

.month-calendar ol.day-grid li.current-month{
  background-color: #fff;
}

.month-calendar ol.day-grid li.other-month{
  background-color: #fafafa;
}


.month-calendar ol.day-grid li .day{
  z-index: 1;
  font-weight: 800;
  font-size: 90%;
  color: rgba(0,0,0,0.8);
  position: absolute;
  top:0px;
}
.month-calendar ol.day-grid li.other-month .day {
  color: #aaaaaa;
}

.month-calendar ol.day-grid li .celebration{
  z-index: 2;
  position: absolute;
  top:0px;
  right:0px;
  color: white;
}


@media all and (max-width: 800px) {
  .month-calendar ul, .month-calendar ol {
    grid-gap: .25em;
  }

  .month-calendar ul.weekdays li {
    font-size: 0;
  }

  .month-calendar ul.weekdays > li abbr:after {
    content: attr(title);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
}
